.root{
	-main-bg-color:#241480;
	-main-text-color:#8A75FF;
	-secondary-bg-color:#4929FF;
	-secondary-text-color:#453B80;
	-shiny-color:#3A21CC;
	-fx-focus-color:-shiny-color;
	
}




.background {
    -fx-background-color: -main-bg-color;
}
.background-ventana{
	-fx-background-color: #191919;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: -main-text-color;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: -main-text-color;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 24pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -main-text-color;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: -main-bg-color;
    -fx-control-inner-background: -main-bg-color;
    -fx-background-color: -main-bg-color;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.tab-pane {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: -main-text-color;
    -fx-background-color: derive(-secondary-bg-color,40%);
    
}
.tab{
    -fx-text-base-color: -main-text-color;
    -fx-background-color: -main-bg-color;
    -fx-focus-color: -main-text-color;
}

.tab-pane *.tab-header-background {
	
    -fx-background-color: derive(-secondary-bg-color,40%);
}




.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -main-text-color;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent -main-bg-color transparent -main-bg-color;
    -fx-background-color: transparent, derive(-main-bg-color,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(-main-bg-color,20%);
}

.context-menu {
    -fx-background-color: derive(-main-bg-color,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -main-text-color;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: -secondary-text-color;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: -main-bg-color;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: -main-text-color;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: -secondary-bg-color;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: -main-text-color;
  -fx-text-fill: -main-bg-color;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: -main-bg-color;
    -fx-text-fill: -main-text-color;
}

.button:default {
    -fx-background-color: -shiny-color;
    -fx-text-fill: -main-text-color;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.tree-view {
    -fx-base: -main-bg-color;
    -fx-control-inner-background: -main-bg-color;
    -fx-background-color: -main-bg-color;
}
.text-input{
    -fx-background-color: -main-text-color;
    
    -fx-text-fill: -secondary-text-color;
}
